{% load static %}

{% block content %}
  <form method="post" action="/syllabi_upload_action/" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
{% endblock %}

<form method="post" action="amend_course/" enctype="multipart/form-data">
  {% csrf_token %}
  Name: <input type="text" name="course_code"></br> <!-- REQUIRED -->
  Instructor: <input type="text" name="instructor_name"></br><!-- CAN BE LEFT BLANK -->
  Instructor Email: <input type="text" name="instructor_email"></br><!-- CAN BE LEFT BLANK -->
  Instructor Office: <input type="text" name="instructor_office"></br><!-- CAN BE LEFT BLANK -->
  <button type="submit">Submit</button>
</form>
