{% load static %}

{% block content %}
  <form method="post" action="/new_event_action/" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Event:</label>
    <input id="name" type="text" name="name"><br/>
    <label for="course">Course:</label>
    <select id="course" name="course">
      {% for id, course_code in course_list %}
        <option value="{{id}}">{{course_code}}</option>
      {%endfor%}
    </select></br>
    <label for="due_date">Due Date:</label>
    <input id="due_date" type="datetime-local" name="due_date"></br>
    <label for="priority">Priority</label>
    <select id="priority" name="priority">
      <option value="0">Low</option>
      <option value="1">Medium</option>
      <option value="2">High</option>
    </select><br/>
    <button type="submit">Save</button>
  </form>
{% endblock %}
