<!doctype html>
{% load static %}
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css">
</head>

<body>
  <div id="visualization"></div>


  <script type="text/javascript">

  var events = {{events|safe}};
  var dataSet = [];

  for (i = 1; i < events.length; i++){
    dataSet.push({"id": i, "content": events[i].name, "start": events[i].due_date, "group": events[i].course})
  }
    // DOM element where the Timeline will be attached
    var container = document.getElementById('visualization');

    // Create a DataSet (allows two way data-binding)
    var items = new vis.DataSet(dataSet);

    // Configuration for the Timeline
    var options = {};

    // Create a Timeline
    var timeline = new vis.Timeline(container, items, options);
  </script>

  {% for event in events %}
  <div>{{event.due_date}}</div>
  {% endfor %}
</body>
